* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    --primary-color: rgb(80, 128, 180);
    --secondary-color: rgb(129, 191, 224);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 15px 30px;
    margin: 0 0 20px 0;
    background-color: var(--secondary-color);
}
#question {
    display: block;
    text-align: center;
    font-size: 24px;
}
.answers {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: var(--primary-color);
    border: none;
    margin: 20px;
    padding: 10px;
    color:white;
}

.button:hover {
    background-color: var(--secondary-color);
}

.button.correct {
    background-color: var(--correct-color);
}
.button.wrong {
    background-color: var(--incorrect-color);
}
#start-btn {
    font-size: 40px;
    font-weight: bold;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
#feedback {
    text-align: center;
    font-style: italic;
}

.hide {
    display: none;
}

.initial-input {
    padding: 8px;
    margin: 20px;
}

.title {
    color: var(--primary-color);
    text-align: center;
}

li {
    background-color: var(--secondary-color);
    margin: 5px;
    padding: 2px 40px;
}

#timer {
    height: min-content;
}

#score-board {
    padding: 30px;
}